@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$anchor-blue: hsl(228, 45%, 44%);
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
$sans-serif: 'Montserrat', sans-serif;
$serif: 'Fraunces', serif;

html {
  font-size: 14px;
}

body {
  background-color: $cream;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: $white;
  border-radius: 15px;
  margin: auto;
  //max-width: 686px;
  width: 323px;
}

picture {
  border-radius: inherit;
  display: flex;
}

.product-type {
  font: 500 .85rem $sans-serif;
  text-transform: uppercase;
  color: $dark-grayish-blue;
  letter-spacing: .5em;
  padding-bottom: 10px;
}

.product-name {
  font: 700 2rem $serif;
  margin-top: auto;
  margin-bottom: auto;
  color: $very-dark-blue;
}

.product-description {
  font: 500 1rem $sans-serif;
  line-height: 1.75rem;
  color: $dark-grayish-blue;
  margin-bottom: 20px;
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.discount-price {
  font: 700 2rem $serif;
  color: $dark-cyan;
}

.initial-price {
  font: 500 .85rem $sans-serif;
  color: $dark-grayish-blue;
  text-decoration: line-through;
}

button {
  background-color: $dark-cyan;
  color: $white;
  font: 500 .85rem $sans-serif;
  padding: 1em;
  border-inline-end-color: transparent;
  border-inline-start-color: transparent;
  width: 100%;
  border-block-style: none;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

//
//SMALL SCREEN
//

@media (max-width: 999px) {
  .card {
    //max-width: 686px;
    width: 323px;
    display: flex;
    flex-direction: column;
  }

  .product-img {
    max-width: 100%;
    object-position: center top;
    object-fit: contain;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .product-text {
    padding: 15px;

  }
}

//
//LARGE SCREEN
//

@media (min-width: 1000px) {

  .card {
    height: 450px;
    width: 600px;
    //max-height: 900px;
    display: flex;
    flex-direction: row;
  }

  .product-img {
    width: 300px;
    border-top-left-radius: inherit;
    border-top-right-radius: 0px;
    border-bottom-left-radius: inherit;
    flex-basis: 50%;
    flex-grow: 1;
  }

  .product-text {
    //width: 270px; - nto having an effect
    flex-basis: 50%;
    padding: 30px;
    flex-grow: 1;
  }
}


.attribution {
  font-size: 11px;
  text-align: center;
  margin: auto;
}

.attribution a {
  color: $anchor-blue;
}