    body {}

    main {}

    .product-img {}

    img {}

    .product-text {}

    h1 {}

    h2 {}

    p {}

    .discount-price {}

    .initial-price {}

    button {}

    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }